.text-center {
  text-align: center;
}

table.dataTable thead th {
  text-align: center;
}

#approve {
  background-color: green;
}

#approve:hover {
  background-color: darkgreen;
}

#reject {
  background-color: red;
}

#reject:hover {
  background-color: maroon;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 16px 20px;
}