body {
  background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-page {
  display: grid;
  font-family: "glacial_indifferencebold";
  gap: 20%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
}

.main-page a {
    background-color:#b1aacb;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: "glacial_indifferencebold";
    font-size: 22px;
    border-radius: 30px;
}

.new-booking a {
  padding: 20px 30.5px 20px 30.5px;
}

table td, th {
  color: white;
}