.desc p {
  color: white;
  font-size: 24px;
  text-align: center;
  font-family: "glacial_indifferencebold";
}


.main-page {
  display: grid;
  gap: 100px;
  margin-top: 200px;
}

.pic-container {
  display: flex;
  justify-content: center;
  gap: 20%;
}

.pic-container span {
  background-color: #634b66;
  padding: 30px 50px 30px 30px;
  color: #fff;
  font-size: 18px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

#pic-name {
  text-align: center;
}
