body {
  background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  margin: 30px 30px 0 270px;
}

main h3,
main h4,
main h5,
main p {
  font-family: "Open Sans";
  color: white;
}

.text-container h3 {
  font-family: "glacial_indifferenceregular";
  border-bottom: 1px solid #fff;
  font-size: 30px;
  color: #fff;
}

.text-container p {
  margin-top: 10px;
  font-family: "glacial_indifferenceregular";
  font-size: 22px;
}

.grid-container h4 {
  font-size: 22px;
}

.grid-container h5 {
  font-size: 13px;
}

.grid-container p {
  font-family: "glacial_indifferencebold";
  font-size: 18px;
}

.grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-areas:
    "booking approve rejected book"
    "booking status status book"
    "how how how how";
  gap: 50px;
}

.grid-container div {
  background-color: rgba(124, 124, 124, 0.3);
  padding: 30px;
  border-radius: 20px;
}

.booking {
  grid-area: booking;
}

.approve {
  grid-area: approve;
}

.rejected {
  grid-area: rejected;
}

.status {
  grid-area: status;
}

.book-count {
  grid-area: book;
}

.how-to {
  grid-area: how;
  display: grid;
  justify-content: center;
}

.count-container {
  display: grid;
  grid-template-columns: auto auto;
}

.how-to h4 {
  text-align: center;
}

.how-to li {
  color: white;
  font-family: "glacial_indifferenceregular";
  font-size: 18px;
}
