.main-page {
  display: block;
}

form {
  padding: 30px;
}

label {
  color: #fff;
  margin: 10px;
  font-size: 16px;
}

input[type="date"],
input[type="text"],
input[type="time"] {
  font-family: pp_telegrafregular;
  margin: 10px;
  color: #000;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 5px;
  text-align: center;
}

input[type="text"] {
  text-align: left;
}

#purpose {
  width: 50%;
}

#date {
  padding-right: 10%;
}

#booking-date,
#booking-time {
  width: 20%;
}

select {
  padding: 5px;
  margin: 10px;
  width: 25%;
  border-radius: 5px;
  text-align: center;
  outline: none;
}

#computers * {
  color: #000;
}

button {
  font-family: pp_telegrafregular;
  padding: 20px;
  border: none;
  border-radius: 30px;
  position: fixed;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: #b1aacb;
  color: #fff;
  text-shadow: 1px 2px 2px black;
  transition: background-color 200ms ease-in;
}

button:hover {
  background-color: #6e697e;
}
