.main-page {
  display: block;
}

form {
  padding: 30px;
}

label {
  color: #fff;
  margin: 10px;
  font-size: 16px;
}

input[type="date"],
input[type="text"],
input[type="time"] {
  font-family: pp_telegrafregular;
  margin: 10px;
  color: #000;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 5px;
  text-align: center;
}

input[type="text"] {
  text-align: left;
}

#purpose {
  width: 50%;
}

#date {
  padding-right: 10%;
}

#booking-date,
#booking-time {
  width: 20%;
}

select {
  padding: 5px;
  margin: 10px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  outline: none;
}

#computers * {
  color: #000;
}

button {
  font-family: pp_telegrafregular;
  padding: 15px 0;
  border: none;
  border-radius: 20px;
  position: fixed;
  right: 45%;
  left: 45%;
  top: 80%;
  cursor: pointer;
  background-color: #b1aacb;
  color: #fff;
  text-shadow: 1px 2px 2px black;
  transition: background-color 200ms ease-in;
}

button:hover {
  background-color: #6e697e;
}

.select-container {
  display: flex;
  gap: 30px;
}

.select-container div {
  width :20%;
}

.computer-container {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, left 300ms ease-out;
}
.computer-container.active {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear, opacity 300ms ease-in;
}
