.mini-title {
  color: white;
  background-color: #7f7c82;
  color: white;
  text-align: left;
  padding: 20px;
  font-family: "telegraf";
  font-size: 20px;
  width: 30%;
  padding-left: 10%;
  margin-left: 2cm;
  margin-top: 0.5cm;
}
.main-page {
  height: 80%;
  margin: 30px;
  color: white;
  text-align: left;
  justify-content: left;
  margin-left: 2cm;
  font-size: 30px;
  display: flex;
}

.main-page div {
  width: 50%;
}

th {
  font-size: 20px;
  word-spacing: 3px;
  line-height: 1cm;
}

td {
  font-size: 18px;
  word-spacing: 3px;
  line-height: 1cm;
}

.confirm, .delete { 
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 15%;
}

.delete button {
  background-color: #b52e28;
}

.delete button:hover {
  background-color: #681a17;
}


button {
  background-color: #b1aacb;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-family: "glacial_indifferencebold"; 
  width: 200px;
  border-radius: 20px;
  text-shadow: 1px 2px 2px black;
  transition: all 200ms ease-in;
}

button:hover {
  background-color: #6e697e;
}

button a {
  font-size: 20px;
}
